.color-tama{
    width: 250px;
    height: 300px;
}

.colo-one{
    background-color: #ffe5e5;
}

.colo-seco{
    background-color: #e5e5e5;
}

.colo-thi{
    background-color: #d5f5d5;
}

.colo-fo{
    background-color: #d5f5f5;
}