.color-tama{
    width: 250px;
    height: 300px;
}

.colo-one{
    background-color: #ffe5e5;
}

.colo-seco{
    background-color: #e5e5e5;
}

.colo-thi{
    background-color: #d5f5d5;
}

.colo-fo{
    background-color: #d5f5f5;
}

.bs-stepper-header{
    width: 100%; 
    overflow-x: auto;
}

.rounded-4{
    background-color: #E5E6EB;
}

button.btn.btn-primary{
    --bs-btn-bg: #3699FF;
    --bs-btn-border-color: #3699FF;
    --bs-btn-hover-bg: #3699FF;
    --bs-btn-hover-border-color: #3699FF;
    --bs-btn-active-bg: #3699FF;
    --bs-btn-active-border-color: #3699FF;
    box-shadow: 0px 5px 5px 0px rgb(139, 139, 139);
}

button.bg-orange{
    background-color: #FFA000 !important;
    --bs-btn-bg: #FFA000;
    --bs-btn-border-color: #FFA000;
    --bs-btn-hover-bg: #FFA000;
    --bs-btn-hover-border-color:#FFA000;
    --bs-btn-active-bg: #FFA000;
    --bs-btn-active-border-color:#FFA000;
    box-shadow: 0px 5px 5px 0px rgb(139, 139, 139);
}

.contenedorElementoCV{
    background-color: #3699FF;
    color: white;
}

#imgAspirante{
    max-height: 50vh;
}

.iconoCeleste{
    color: #3699FF;
}

.textoInfo{
    font-size: 16px;
}

i.bi{
    cursor: pointer;
}

.psinmargen{
    margin: 0;
}

.gap-10{
    gap: 100px;
}