* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, main {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-side {
    background-color: #fff;
}

.right-side {
    background-color: #FFA000;
}

button {
    cursor: pointer;
}

.fw-semibold.fs-6{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.rounded-start-2{
    border-bottom-left-radius: 2rem !important;
    border-top-left-radius: 2rem !important;
}

.w-65{
    width: 65%;
}

.linea-gruesa{
    height: 0.1rem;
    border: none;
    background-color: #000000;
    opacity: 100 !important;
    width: 100%;
    margin: 0px;
}

@media screen and (min-width: 992px) {
    #contenedorForm{
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
}

@media screen and (max-width: 991px) {
    .rounded-start-2{
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
    #contenedorForm{
        height: 75%;
        overflow-y: auto;
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

@media screen and (max-width: 375px) {
    #contenedorForm{
        padding-left: 10px;
        padding-right: 10px;
    }
}