<!DOCTYPE html>
<!-- Se configura el idioma del documento -->
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>Inicio</title>
    <!-- Llamada al framework de diseño -->
    <link href="../../resources/css/utils/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada a los íconos de la barra de navegación -->
    <link href="../../resources/css/utils/bootstrap-icons.min.css" rel="stylesheet">
    <!-- CSS de la barra lateral de navegación -->
    <link href="../../resources/css/utils/barra_lateral.css" rel="stylesheet">
</head>

<body class="d-flex">
    <!-- Contenido principal del documento -->
    <main class="borde-main">
        <div class="container">
            <div class="container-fluid mb-5">
                
            </div>
            <!-- Tabla para mostrar los registros existentes -->
            <table class="table table-hover">
                <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                <thead>
                    <div class="row gy-3">
                        <!-- Buscador -->
                        <div class="col-sm-12 col-md-6 col-lg-6 search-bar">
                            <!-- La barra de búsqueda se insertará aquí -->
                        </div>
                    </div>
                    <tr>
                        <td colspan="6" id="filasEncontradas"></td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                <tbody id="tabla_aspirante"></tbody>
            </table>
        </div>
    </main>

    <!-- Mandar a llamar el framework de diseño -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script src="../../controllers/utils/componentes.js"></script>
    <!-- Llamada al controlador general del sitio privado -->
    <script src="../../controllers/utils/privado.js"></script>
    <!-- Llamada al controlador de la página inicio -->
    <script src="../../controllers/private/aspirantes.js"></script>
    <!-- Importar la barra de búsqueda desde el archivo JavaScript -->
    <script src="../../resources/js/barra_busqueda.js"></script>
</body>

</html>
