<!DOCTYPE html>
<!-- Se configura el idioma del documento -->
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>Inicie sesión</title>
    <!-- Se configura el ícono de la pestaña -->
    <link type="image/png" rel="icon" href="/PortalADOM/resources/img/logo.png">
    <!-- Llamada al framework de diseño -->
    <link href="../../resources/css/utils/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada a los íconos del framework -->
    <link href="../../resources/css/utils/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Llamada al css de la página -->
    <link href="../../resources/css/private/index_privado.css" rel="stylesheet">
</head>

<body>
    <!-- Contenido principal de la página -->
    <main class="row d-flex flex-row">
        <div class="left-side col-lg-6 d-flex align-items-center justify-content-center">
            <img src="../../resources/img/full_logo.png" alt="Logo" class="img-fluid w-65 w-65 d-none d-lg-block">
        </div>
        <div class="left-side d-block d-lg-none d-flex align-items-center justify-content-center w-50 h-50">
            <img src="../../resources/img/full_logo.png" alt="Logo" class="img-fluid d-block d-lg-none">
        </div>
        <div class="right-side col-12 col-lg-6 d-flex flex-column text-center gap-3 rounded-start-2 flex-fill justify-content-center h-100"> 
            <div id="contenedorLogin" class="d-flex flex-column flex-fill justify-content-center align-items-center text-center gap-3 d-none">
                <h1 class="text-light fw-bold">Iniciar sesión</h1>
                <form class="w-65 d-flex flex-column gap-2" id="formLogin">
                    <label for="correo" class="text-start fw-semibold">Correo</label>
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input type="text" id="correo" name="correo" class="form-control" autocomplete="off" required>
                    </div>
                    <label for="clave" class="text-start fw-semibold">Contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" id="clave" name="clave" class="form-control" autocomplete="off" required>
                    </div>
                    <button type="submit" class="fw-bold btn btn-dark w-100 mt-3">Iniciar sesión</button>
                </form>
            </div>
            <div id="contenedorSignUp" class="d-none mh-100 py-5">
                <form class="d-flex flex-column gap-2 w-100 px-3 px-md-10 mh-100" id="formSignUp">
                    <h1 class="text-light fw-bold">Registro</h1>
                    <h5 class="text-start text-light fw-bold">Ingrese su información personal</h5>
                    <div class="d-flex flex-column gap-2">
                        <label for="nombre" class="text-start fw-semibold">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" maxlength="50" autocomplete="off" required>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <label for="apellido" class="text-start fw-semibold">Apellido</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" maxlength="50" autocomplete="off" required>
                    </div>
                    <h5 class="text-start text-light fw-bold mt-4">Ingrese sus credenciales de usuario</h5>
                    <div class="d-flex flex-column gap-2">
                        <label for="correoSignup" class="text-start fw-semibold">Correo</label>
                        <div class="input-group">
                            <span class="input-group-text">@</span>
                            <input type="email" id="correoSignup" name="correoSignup" maxlength="100" class="form-control" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <label for="claveSignup" class="text-start fw-semibold">Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input type="password" class="form-control" id="claveSignup" name="claveSignup" required>
                            <div class="btn input-group-addon d-flex align-items-center justify-content-center bg-light"
                                id="btnMostrar" onclick="mostrarContra()">
                                <i class="bi bi-eye-slash" id="verIcono"></i>
                                <i class="bi bi-eye d-none" id="ocultarIcono"></i>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="fw-bold btn btn-dark w-100 mt-3">Registrarse</button>
                </form>
            </div>
        </div>
    </main>
    <!-- Mandar a llamar el framework de diseño -->
    <script src="../../resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script src="../../resources/js/sweetalert.min.js" type="text/javascript"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script src="../../controllers/utils/componentes.js" type="text/javascript"></script>
    <!-- Llamada al controlador general del sitio público -->
    <script src="../../controllers/utils/privado.js" type="text/javascript"></script>
    <!-- Llamada al controlador del inicio de sesión -->
    <script src="../../controllers/private/index.js" type="text/javascript"></script>
</body>

</html>