<!DOCTYPE html>
<!-- Se configura el idioma del documento -->
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title></title>
    <!-- Llamada al framework de diseño -->
    <link href="../../resources/css/utils/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada a los íconos de la barra de navegación -->
    <link href="../../resources/css/utils/bootstrap-icons.min.css" rel="stylesheet">
    <!-- CSS del navbar -->
    <link href="../../resources/css/utils/navbar_publico.css" rel="stylesheet">
    <!-- CSS de la pagina -->
    <link href="../../resources/css/public/curriculum.css" rel="stylesheet">
</head>

<body>
    <!-- Contenido principal de la página -->
    <main>
        <div class="container mt-5">
            <div class="d-flex justify-content-start align-items-start flex-wrap mb-3">
                <div class="p-3">
                    <button class="btn btn-danger ">
                        Cargar currículum
                        <i class="bi bi-file-earmark-pdf-fill"></i>
                    </button>
                </div>
                <div class="p-3">
                    <button class="btn btn-success text-end">
                    Editar currículum
                    <i class="bi bi-pencil"></i>
                </button></div>
            </div>
            <hr>
            <h4 class="text-center">Seleccione el diseño de su currículum</h4>
            <div class="d-flex justify-content-center align-items-center flex-wrap mt-4">
                <button class="p-3 border rounded colo-one color-tama mx-2 mb-3"></button>
                <button class="p-3 border rounded colo-seco color-tama mx-2 mb-3"></button>
                <button class="p-3 border rounded colo-thi color-tama mx-2 mb-3"></button>
                <button class="p-3 border rounded colo-fo color-tama mx-2 mb-3"></button>
            </div>
            <div class="text-center mt-4">
                <i class="bi bi-info-circle text-primary"></i> 
                <span class="fw-bold">El diseño seleccionado es el que se mostrará al cargarlo</span>
            </div>
        </div>
    </main>
    <!-- Mandar a llamar el framework de diseño -->
    <script src="../../resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script src="../../resources/js/sweetalert.min.js" type="text/javascript"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script src="../../controllers/utils/componentes.js" type="text/javascript"></script>
    <!-- Llamada al controlador general del sitio privado -->
    <script src="../../controllers/utils/publico.js" type="text/javascript"></script>
    <!-- Llamada al controlador del inicio de sesión -->
    <script src="../../controllers/public/curriculum.js" type="text/javascript"></script>
</body>

</html>