<!DOCTYPE html>
<!-- Se configura el idioma del documento -->
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>Inicie sesión</title>
    <!-- Se configura el ícono de la pestaña -->
    <link type="image/png" rel="icon" href="/PortalADOM/resources/img/logo.png">
    <!-- Llamada al framework de diseño -->
    <link href="../../resources/css/utils/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada a los íconos de la barra de navegación -->
    <link href="../../resources/css/utils/bootstrap-icons.min.css" rel="stylesheet">
    <!-- CSS del navbar -->
    <link href="../../resources/css/utils/navbar_publico.css" rel="stylesheet">
    <!-- CSS de la página web -->
    <link href="../../resources/css/public/perfil.css" rel="stylesheet">
</head>

<body>
    <!-- Contenido principal de la página -->
    <main>
        <div class="container">
            <div class="row justify-content-center align-items-center mx-md-5 d-flex row-gap-5 mt-5">
                <div class="col-12">
                    <div class="row d-flex row-gap-3">
                        <div class="col-12 col-md-6">
                            <h4 class="text-start fw-bold">Información personal</h4>
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                            <button type="button" class="btn bg-success px-5 d-flex align-items-center justify-content-center flex-fill text-light"
                                onclick="openEdit()">
                                <p class="fw-bold px-1 px-md-5 psinmargen" id="textoBoton">Editar información </p>
                                <i class="bi bi-pencil-square psinmargen h4" id="iconoEditar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Formulario con la información del aspirante -->
                <form class="col-12">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" disabled>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Componente Modal para editar perfil -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="modalTitleEdit" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" tabindex="-1" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar el perfil -->
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <input type="number" id="idPerfil" name="idPerfil" class="d-none">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12 mb-3 ">
                                <div class=" form-floating borde ">
                                    <input id="nombrePerfil" type="text" name="nombrePerfil" placeholder="Nombre"
                                        class="form-control" required autocomplete="off" />
                                    <label for="nombrePerfil">Nombre</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12 mb-3">
                                <div class="form-floating borde ">
                                    <input id="apellidoPerfil" type="text" name="apellidoPerfil" placeholder="Apellido"
                                        class="form-control" required autocomplete="off" />
                                    <label for="apellidoPerfil">Apellido</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12 mb-3">
                                <div class="form-floating borde ">
                                    <input id="correoPerfil" type="email" name="correoPerfil"
                                        placeholder="Correo electrónico" class="form-control" required
                                        autocomplete="off" />
                                    <label for="correoPerfil">Correo electrónico</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12 mb-3">
                                <div class="form-floating borde">
                                    <input id="fechanacimientoPerfil" type="date" name="fechanacimientoPerfil"
                                        placeholder="fechanacimiento" class="form-control" required
                                        autocomplete="off" />
                                    <label for="fechanacimientoPerfil">Fecha nacimiento</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-12 mb-3">
                                <div class="form-floating borde">
                                    <select class="form-select" name="generoPerfil" id=generoPerfil>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                                <button type="reset" class="btn btn-outline-dark">Cancelar</button>
                                <button type="submit" class="btn btn-outline-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Mandar a llamar el framework de diseño -->
    <script src="../../resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script src="../../resources/js/sweetalert.min.js" type="text/javascript"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script src="../../controllers/utils/componentes.js" type="text/javascript"></script>
    <!-- Llamada al controlador general del sitio privado -->
    <script src="../../controllers/utils/publico.js" type="text/javascript"></script>
    <!-- Llamada al controlador del inicio de sesión -->
    <script src="../../controllers/public/perfil.js" type="text/javascript"></script>
</body>

</html>